.ex-1-square {
    transition: 2s;
}
.ex-1-square:hover {
    background: red;
}
.ex-2-square {
    transition: 2s;
}
.ex-2-square:active {
    width: 100%;
}
.ex-3-square:hover {
    border-radius: 50px;
}
.ex-3-square {
    transition: 1s;
}